[submodule "opencode"]
	path = opencode
	url = https://github.com/anomalyco/opencode.git
	shallow = true
[submodule "codex"]
	path = codex
	url = https://github.com/openai/codex.git
	shallow = true
[submodule "zeroclaw"]	path = zeroclaw
	url = https://github.com/zeroclaw-labs/zeroclaw.git
	shallow = true
[submodule "nanobot"]
	path = nanobot
	url = https://github.com/HKUDS/nanobot.git


[submodule "oh-my-opencode-slim"]
	path = oh-my-opencode-slim
	url = https://github.com/alvinunreal/oh-my-opencode-slim.git
